.trifle-toolbar {
    border-style: solid;
    border-radius: 0;
    border-width: 0 0 1px 0;
}

.trifle-item {
    border-style: solid;
    border-radius: 0;
    border-width: 0 0 0 1px;
}

.trifle-items-view {
    -GtkTreeView-grid-line-pattern: "\1";
    -GtkTreeView-vertical-separator: 8px;
    -GtkTreeView-horizontal-separator: 6px;
}
