article, aside, details, figcaption, figure, footer, header, hgroup, nav,
section, summary {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

a:focus {
    outline: thin dotted;
}

a:hover, a:active {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

body {
    margin: 1em;
    line-height: 1.4em;
}

#trifle_replacements {
    display: none;
}

article {
    display: block;
    overflow: hidden;
}

hr {
    height: 1px;
    background: rgba(127, 127, 127, .3);
    border: none;
}

/* Content styles */
article>* {
    margin: 1em 0;
}

/* TODO: Consider doing something about these ineffective selectors */
article>:first-child,
article>:last-child {
    margin: 0;
}

h1, h2 {
    font-size: 1.25em;
    margin: 0.8em 0;
}

h3 {
    font-size: 1.125em;
    margin: 0.888888888em 0;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.925em;
    margin: 1.081081081em 0;
}

h6 {
    font-size: 0.85em;
    margin: 1.17647058823529em 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}


img {
    max-width: 100%;
    height: auto;

}

pre {
    width: 100%;
    white-space: pre;
    word-wrap: normal;
    overflow: auto;
    line-height: 1.25em;

}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid rgba(127, 127, 127, .3);
    padding: .25em;
}

th {
    font-weight: bold;
}

tr:nth-child(2n){
    background: rgba(127, 127, 127, .05);
}

b, strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

dfn {
    font-style: italic;
}

small {
    font-size: 75%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

fieldset {
    border: 1px solid rgba(127, 127, 127, .3);
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

#trifle_statusbar {
    background: inherit;
    font-size: .85em;
    line-height: 1em;
    border-top: rgba(127, 127, 127, .3) solid;
    border-width: 1px 0 0;
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .125em .5em .25em;
    opacity: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: opacity 50ms 0.5s;
}

#trifle_statusbar.visible {
    -webkit-transition: opacity 0 0;
    opacity: 1;
}

#trifle_iframe {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.3em;
    background: -webkit-repeating-linear-gradient(.5rad, transparent,
                                                  transparent 20px,
                                                  rgba(127, 127, 127, .05) 20px,
                                                  rgba(127, 127, 127, .05) 40px) -15px;
    background-size: 150% 100%;
    border: solid 1px rgba(127, 127, 127, .1);
}
